{{#if logged_in}}
<section id="blog-post">
  <div class="post-details">
    <h3>{{post.title}}</h3>
    <p>Published on: {{post.date}}</p>
    <img src="{{post.thumbnail}}" alt="Blog Post Thumbnail">
    <p>{{post.summary}}</p>
    <a href="/read/{{post.id}}" class="btn">Read More</a>
  </div>
</section>
{{/if}}

<script src="/js/deletePost.js"></script>